#deviceList {
    margin-top: 10px;
}

.card-header {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

.card-body {
    padding: 0 1.25rem;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.1em;
    text-align: center;
}

.device {
    border: 2px solid #999;
    margin: 2px;
    border-radius: 10px;
}

.gameflowstatuslist li span {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.btn {
    margin: 1px;
}

.disconnected {
    background: repeating-linear-gradient( 45deg, #fff, #fff 30px, #eee 30px, #eee 60px);
    border: 1px solid rgb(255, 170, 170);
}

.connected {
    border: 1px solid rgb(170, 255, 208);
}

.disconnected .card-header {
    background-color: rgb(255, 170, 170);
}
.connected .card-header {
    background-color: rgb(170, 255, 208);
}