html {
font-family: Arial, Helvetica, sans-serif;
display: inline-block;
text-align: center;
}

body {
	background-color: grey;
}

h1 {
font-size: 1.8rem;
color: white;
}

p {
font-size: 1.4rem;
}

.topnav {
overflow: hidden;
background-color: #0A1128;
}

body {
margin: 0;
}

.content {
padding: 5%;
}

.card-grid {
max-width: 800px;
margin: 0 auto;
display: grid;
grid-gap: 2rem;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
background-color: white;
box-shadow: 2px 2px 12px 1px rgba(243,243,243,.5);
}

.card-title {
font-size: 1.2rem;
font-weight: bold;
color: #034078
}

input[type=submit] {
border: none;
color: #FEFCFB;
background-color: #034078;
padding: 15px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
width: 100px;
margin-right: 10px;
border-radius: 4px;
transition-duration: 0.4s;
}

input[type=submit]:hover {
background-color: #1282A2;
}

input[type=text], select {
width: 50%;
padding: 12px 20px;
margin: 18px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

.alignmentInputs {
  text-align: left;
  margin: auto;
  width: 40%;
  line-height: 0.6;
  white-space: nowrap;
}

.devicemode {
	padding-bottom: 20px;
}

label {
font-size: 1.2rem;
}

.value{
font-size: 1.2rem;
color: #1282A2;
}

.slider {
-webkit-appearance: none;
margin: 0 auto;
width: 90%;
height: 17px;
border-radius: 10px;
background: #FFD65C;
outline: none;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%;
background: #034078;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50% ;
background: #034078;
cursor: pointer;
}

.switch {
padding-left: 5%;
padding-right: 5%;
}
